:root {
    --color-primary: #4DC0A1;
    --color-dark: #000000;
    --color-light: #ffffff;
    --color-shadow: rgba(0, 0, 0, 0.25);
}

html {
    scroll-behavior: smooth;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.hero-section {
    background-image: url("static/img/bg/random-audience.webp");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-full {
    width: 100vw;
    height: 100vh;
}

.container-desktop {
    width: 73%;
    height: auto;
    text-align: center;
}